.drink__instructions {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  margin-top: var(--gap);
}

.drink__instructions h2 {
  font-family: var(--font-josefin);
  font-size: var(--size-big);

  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.drink__instructions h2 svg {
  width: 15px;
  height: 15px;
}


@media (min-width: 640px) {
  .drink__instructions h2 {
    font-size: var(--size-big-plus);
  }
}

@media (min-width: 768px) {
  .drink__instructions h2 svg {
    width: 18px;
    height: 18px;
  }
}