.home {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  gap: var(--gap-plus);

  padding-bottom: var(--size-super);
}

.information__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-plus);
}

@media (min-width: 768px) {
  .information__container {
    flex-direction: row;
  }
}
